html body{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	background-color: black;
	color: grey;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  backgrousnd-size: cover;*/
}
.navbar{
	opacity: 0.8;
}
.back{
	background-color: lightgrey;
	opacity: 0.8;
	
}
.intro{
	color: lightgray;
}
.card{
	background-color: lightgrey;
}